@font-face {
  font-family: Rockwell;
  src: url("/assets/fonts/Rockwell.woff2");
  format: ("woff2");
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #5BA338;
}

a:hover {
  color: #00D338;
}

* {
  box-sizing: border-box;
}

.active {
  background-color: #5BA338;
}

.MuiBox-root {
  border-color: #5BA338;
}

.MuiLoadingButton-root {
  background-color: #5BA338;
}

.MuiLoadingButton-root:hover {
  background-color: #000 !important;
}
